body{
    font-family :'Open Sans', sans-serif ;
    background-color: #CCC ;
}

img{
    width: 400px;
    height: 300px;
}
p{
    text-align: indent;
}

.div5{
    text-align: center;
    font-size: 24px;/* decale le texte vers la droite*/
}

/* textes descriptif desmodèles*/
.div6{
    font-size: 17px;
    color: #FFF ;
    background-color: #808080;
    height: 600px;
    width: 1000px; /* largeur*/
    border: 5px solid black; /* taille, type, couleur bordure*/
    padding: 10px 15px 20px 40px ; /* marge interrieur ( eloigne le contenu des borders) haut, droite, bas, gauche */
    margin: auto; /* marge extérieur permet de centrer par rapport au parent */
}