body{
    font-family :'Open Sans', sans-serif ;
    background-color: #CCC ;
}

/*table{
    text-align: center;
}
thead{
    text-indent: 205px;
    width: 200px;
    height: 200px;
    background-image: url("Images/Trace-somaire.jpg");
    background-size: 100% ;
    background-position: -10px -200px;
}
 a{
    text-decoration: none;
    color:white;
 }*/

img{
    width: 450px;
    height: 300px;
}

h1{
    text-align : center; /*titre au centre */
}

.div1{
    background-color: rgb(00,125,150);
    height: 250px;
    width: 1500px;
    text-align : center; /*titre au centre */
    text-transform: uppercase ; /*titre en majuscule */
    text-decoration: underline; /*titre en sous-ligné */
}

#p1{
 display: inline-block;
 text-indent: 50px;
}
#p2{
 display: inline-block;
 text-indent: 75px;
}
#p3{
 display: inline-block;
 text-indent: 75px;
}
#p4{
 display: inline-block;
 text-indent: 75px;
}

.div4{
    color: #FFF ;
    background-color: #808080;
    height: 530px;
    width: 1000px; /* largeur*/
    border: 15px ridge black; /* taille, type, couleur bordure*/
    padding: 20px 50px 20px 40px ; /* marge interrieur ( eloigne le contenu des borders) haut, droite, bas, gauche */
    margin: auto; /* marge extérieur permet de centrer par rapport au parent */
}

#Voiture-moment{
  display: block;
  float : right;
  height: 420px;
  width: 450px;
  border: 4px solid black; 
}


#contact{
    height: 200px;
    width: 400px; /* largeur*/
    border: 5px solid black; /* taille, type, couleur bordure*/
    padding: 20px 20px 0px 20px ; /* marge interrieur ( eloigne le contenu des borders) haut, droite, bas, gauche */
}
#in, #tw, #fb, #lk{
    width: 75px;
    height: 75px;
    display: block;
    position: absolute;
}
#fb{

    background-image: url("Images/Reseaux.png");
    background-position: -65px -62px; /* déplacement dans l'image globale*/
}
#in{
    background-image: url("Images/Reseaux.png");
    background-position: -205px -62px; /* déplacement dans l'image globale*/
    left: 150px; /* décale le logo pour pas de chevauchement*/
}
#tw{
    background: url("Images/Reseaux.png") 100px -62px ;
    left: 250px;
}
#lk{
    background: url("Images/Reseaux.png") 250px -62px ;
    left: 350px;
}




.container {
    position: relative;
    top: -365px;
    left: 450px;
    width: 425px;
    height: 300px;
    margin: 50px ;
    padding: 20px;
    border: 4px solid black;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}


.div2{
    text-decoration: underline; /*titre en sous-ligné */
    text-indent: 100px; /* decale le texte vers la droite*/
    text-decoration: underline; /*titre en sous-ligné */
}

.div3{
    clear: right;
    text-align : center; /*titre au centre */
    text-decoration: none; /*titre en sous-ligné */
}

.div5{
    text-indent: 200px; /* decale le texte vers la droite*/
}

.div6{
    font-size: 17px;
    color: #FFF ;
    background-color: #808080;
    height: 250px;
    width: 1000px; /* largeur*/
    border: 5px solid black; /* taille, type, couleur bordure*/
    padding: 10px 15px 20px 40px ; /* marge interrieur ( eloigne le contenu des borders) haut, droite, bas, gauche */
    margin: auto; /* marge extérieur permet de centrer par rapport au parent */
}
